<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        let id = "<%= id %>"
    </script>
    <script src="/static/peerjs.min.js" defer></script>
    <script src="/static/bootstrap/bootstrap.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/static/host.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" defer>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" defer>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: rgb(48, 48, 48);
        }

        .video-container video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%;
            min-height: 100%;

            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;

            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .pw-container {
            width: 200px;
            height: 50px;
            position: absolute;
            top: 2%;
            right: 2%;
            background: rgb(139, 139, 139);
            z-index: 999;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        .icon {
            font-size: 40px;
            cursor: pointer;
            color: rgb(222, 222, 222);
            flex: 1;
            padding: 0 3px;
            user-select: none;
        }
        .annon {
            -webkit-text-security: disc;
        }

        .pw {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            width: 10px;
            flex: 4;
            font-size: 30px;
            display: flex;
            text-align: center;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(222, 222, 222);
            cursor:pointer;
            justify-content: center;
        }

        pw:focus {
            outline: none;
        }

        .alert{
            opacity: 1;
            position: absolute;
            bottom: 1em;
            width: 25%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            opacity:0;
            transition: opacity .2s linear;
            background: rgb(139, 139, 139);
            color:rgb(222, 222, 222);
            text-align:center;
        }

        .message, .link, .link:hover{
            color:rgb(222, 222, 222);
        }
    </style>
</head>

<body>
    <div class="pw-container">
        <span type="text" class="annon pw"></span>
        <span class="icon material-icons-outlined" id="showhide">
            visibility
        </span>
        <span class="icon material-icons-outlined" id="regeneratePw">
            lock_reset
        </span>
    </div>
    <div class="video-container"></div>
    <div class="display-4 text-center message position-absolute top-50 start-50 translate-middle">Start streaming by accessing this url <a class="link" href="https://<%= domain %>/join/<%= id %>">https://<%= domain %>/join/<%= id %></a> </div>
    <div class="alert alert-primary" style="display:none">Text byl zkopírován</div>
    <script>
        document.querySelector("#showhide").addEventListener("click", (e) => {
            let pw = document.querySelector(".pw")
            pw.classList.toggle("annon")
        })

        document.querySelector('.pw').addEventListener("click",(e)=>{
            navigator.clipboard.writeText(e.target.innerHTML);
            handleAlert("Text byl zkopírován do schránky");
        })

        function handleAlert(text){
            let alert = document.querySelector('.alert')
            
            alert.innerHTML = text
            alert.style.display="block"
            setTimeout(()=>{
                alert.style.opacity = 1
                setTimeout(()=>{
                    alert.style.opacity = 0;
                    setTimeout(()=>{
                        alert.style.display = "none";
                    },250)
            },3500)
            },50) 
        }
    </script>
</body>

</html>